In [85]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
%matplotlib inline

In [5]:
data=pd.read_csv("Data Set-2.csv")

In [103]:
data

,Month,Month_Quarter,Weather,Avg. Tmp. at Day Time,Ramadan,Eid,Other_Festival,Promotion_Price_Discount,Price_Increase,Compititors_Actions,Class
0,4,0,3,20.5,0,0,0,0,0,0,4
1,4,2,3,22.0,0,0,0,0,0,0,4
2,4,3,1,17.0,0,0,0,0,0,0,2
3,4,1,1,13.5,0,0,0,0,0,0,2
4,3,0,3,14.0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
139,9,1,1,22.5,0,0,0,0,0,0,5
140,2,0,1,23.0,0,0,0,0,0,0,5
141,2,2,1,21.0,0,0,1,0,0,0,3
142,2,3,3,17.5,0,0,0,0,0,0,2
143,2,1,3,18.0,0,0,0,0,0,0,2

In [26]:
le=LabelEncoder()
data.Month=le.fit_transform(data.Month)
data.Month_Quarter=le.fit_transform(data.Month_Quarter)
data.Weather=le.fit_transform(data.Weather)
data.Ramadan=le.fit_transform(data.Ramadan)
data.Eid=le.fit_transform(data.Eid)
data.Other_Festival=le.fit_transform(data.Other_Festival)
data.Promotion_Price_Discount=le.fit_transform(data.Promotion_Price_Discount)
data.Price_Increase=le.fit_transform(data.Price_Increase)
data.Compititors_Actions=le.fit_transform(data.Compititors_Actions)
data.Class=le.fit_transform(data.Class)

In [29]:
data.head(10)

,Month,Month_Quarter,Weather,Avg. Tmp. at Day Time,Ramadan,Eid,Other_Festival,Promotion_Price_Discount,Price_Increase,Compititors_Actions,Class
0,4,0,3,20.5,0,0,0,0,0,0,4
1,4,2,3,22.0,0,0,0,0,0,0,4
2,4,3,1,17.0,0,0,0,0,0,0,2
3,4,1,1,13.5,0,0,0,0,0,0,2
4,3,0,3,14.0,0,0,0,0,0,0,2
5,3,2,3,16.0,0,0,0,0,0,0,2
6,3,3,0,17.5,0,0,0,0,0,0,2
7,3,1,1,20.0,0,0,0,0,0,0,5
8,7,0,1,20.0,0,0,0,0,0,0,5
9,7,2,3,30.5,0,0,0,0,0,0,5

In [30]:
X=data.drop('Class', axis=1)
y=data['Class']

In [32]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2, random_state=42)

# Decision Tree

In [55]:
#dtc=DecisionTreeClassifier()

In [56]:
#dtc.fit(X_train,y_train)

In [57]:
#y_pred=dtc.predict(X_test)

In [58]:
#print(accuracy_score(y_test, y_pred))

# KNN

In [95]:
#knn=KNeighborsClassifier()

In [96]:
#knn.fit(X_train,y_train)

In [97]:
#y_pred=knn.predict(X_test)

In [98]:
#print(accuracy_score(y_test, y_pred))

# SVM

In [91]:
#svm=SVC()

In [92]:
#knn.fit(X_train,y_train)

In [93]:
#y_pred=knn.predict(X_test)

In [94]:
#print(accuracy_score(y_test, y_pred))

# Random Forest Classifier

In [99]:
rfc=RandomForestClassifier()

In [100]:
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [101]:
y_pred=rfc.predict(X_test)

In [102]:
print(accuracy_score(y_test, y_pred))

0.8620689655172413